* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-header {
  display: flex;
  gap: 3px;
}

.todoItem {
  width: 20%;
}

.todoItem:hover {
  text-decoration: line-through;
  cursor: pointer;
}
