* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(236, 236, 236);
}

ul {
  padding-left: 20px;
}

hr {
  width: 100%;
  color: black;
}

.main {
  margin: auto;
  width: 80vw;
  height: 95vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todoInput {
  border-radius: 5px;
  background-color: white;
  padding: 3px;
}
.todo-header {
  display: flex;
  gap: 3px;
}

.todoItem {
  width: 20%;
}

.todoItem:hover {
  text-decoration: line-through;
  cursor: pointer;
}

#submitBtn {
  border-radius: 5px;
  font-weight: 600;
  padding: 3px;
  color: white;
  background-color: rgba(25, 25, 235, 0.836);
}

#deleteAllBtn {
  border-radius: 5px;
  font-weight: 600;
  padding: 3px;
  color: white;
  background-color: rgba(221, 28, 28, 0.836);
}
