* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(236, 236, 236);
}

.main {
  margin: auto;
  width: 80vw;
  height: 95vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todoInput {
  background-color: white;
}
.todo-header {
  display: flex;
  gap: 3px;
}

.todoItem {
  width: 20%;
}

.todoItem:hover {
  text-decoration: line-through;
  cursor: pointer;
}
